html {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

:root {
    color-scheme: light dark;
}

main {
    width: 58%;
    margin: auto;

    margin-top: 10rem;
    padding-bottom: 4rem;

}

body {
    background-color: light-dark(#e7ecf2, #212a34);
}

@media screen and (max-width: 1000px) {
  main {
    width: 96%;

    margin-top: 6rem;

    padding-bottom: 1rem;
  }
}